

//== Base
//** Background color for `<body>`.
$body-bg: $B000;
//** Global text color on `<body>`.
$text-color: $B800;
//** border base color.
$border-base-color: $B300;


//== Avatar
$avatar-background: $B400;

//== Breadcrumb
$breadcrumb-active-color: $B200;


//== Buttons
$btn-ripple-background-color: rgba(0, 0, 0, 0.2);
$btn-disabled-opacity: 0.3;
$btn-min-width:75px;
$btn-height:36px;
$btn-padding:0.5em 1em;
$btn-font:14px;
$btn-line-height:20px;
$btn-radius:6px;
//Button Loading
$btn-spin-light-invert-color: $B500;

// Default Button color set;
$btn-default-color: $text-color;
$btn-default-bg: $B050;
$btn-default-hover-color: $text-color;
$btn-default-hover-bg: $B200;
$btn-default-focus-bg: $B200;
$btn-default-active-bg: $B300;
$btn-default-disabled-color: $B400;
$btn-default-disabled-bg: $B050;

// Button has icon color set
$btn-icon-with-text-bg: $B100;
$btn-icon-with-text-hover-bg: $B300;
$btn-icon-with-text-focus-bg: $B300;
$btn-icon-with-text-active-bg: $B400;

// Subtle Button color set;
$btn-subtle-color: $B600;
$btn-subtle-hover-bg: $B050;
$btn-subtle-default-hover-color: $B800;
$btn-subtle-active-default-bg: $B200;
$btn-subtle-active-default-color: $B900;
$btn-subtle-disabled-bg:$B400;

// Ghost Button color set;
$btn-ghost-color: $H500;
$btn-ghost-border-color: $H500;
$btn-ghost-border-width: 1px;
$btn-ghost-border-hover-color: $H700;
$btn-ghost-default-hover-color: $H700;
$btn-ghost-default-active-color: $H700;
$btn-ghost-border-active-color: $H700;

//Primary Button color set;
$btn-primary-color: $B000;
$btn-primary-bg: $H500;
$btn-primary-hover-bg:$H600;
$btn-primary-active-bg:$H700;

//link Button color set;
$btn-link-color: $H600;
$btn-link-hover-color:$H700;
$btn-link-hover-border:$H600;
$btn-link-border-width: 1px;

//loading Button color set
$btn-loading-spin-default-diameter:18px;
$btn-loading-spin-ring-wide:3px;
$btn-loading-spin-ring-color:$B500;
$btn-spin-light-invert-color: $B500;